<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>My Steroids App</title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="import" href="/components/supersonic/components/import.html">


  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents-lite.js"></script>

  <script src="/scripts/application.js"></script>
</head>
<body ng-app="SteroidsApplication">

<div class="padding" ng-controller="IndexController">

  <super-navbar style="background-color: #8900db;">
    <super-navbar-title>
      Frood
    </super-navbar-title>
  </super-navbar>

<div class = "froodBox" ng-class = "{'froodBoxExtend':going}" ng-repeat="event in foodEvents">
  <div ng-click = "changeViewMode(event);" class="row">
      <div class="col-md-1">
        <div class = "col-md-12">
          <img ng-src="{{event.icon}}" style="height:60px">
        </div>
        <div style="text-align: center" class = "col-md-12">
          <h1>{{event.foodType}}</h1>
        </div>
      </div>

      <div class="col-md-11">
        <div class="col-md-12">
                  <h1>{{event.name}}</h1>
        </div>
        <div class="col-md-12">
                  <h3>{{event.loc}}</h3>
        </div>
        <div class="col-md-12">
                  <h3>{{event.time}}<h3>
        </div>

      </div>

    </div>


    <div ng-show="event.show" class="row">
      <div class="col-md-12">

        <div ng-click = "changeViewMode(event)" class="col-md-10 col-md-offset-1">
            <p>{{event.desc}}</p>
        </div>

        <div class="col-md-1 col-md-offset-11">
          <a ng-click="openURL(event.fbUrl)"><img src="images/fbLogo.png" style="height: 20px"></a>
        </div>

        <div class="col-md-1 col-md-offset-11">
            <div class="row">
              <div class="col-md-6">
                  <h3>Attending: {{event.attending}}</h3>
              </div>

                <div ng-show="going" class="col-md-6">
                    <h3>Going: Yes!</h3>
                </div>
                <div ng-show="!going" class="col-md-6">
                    <h3>Going: No</h3>
                </div>
            </div>

            <div>
                <button ng-click="going = !going; (going)?event.attending = event.attending + 1:event.attending = event.attending - 1;" ng-init="going = false">
                    Change RSVP
                </button>
            </div>
        </div>

      </div>
    </div>
    <div class="row">
        <div class="col-md-2" ng-click="event.show = !event.show">
            <img ng-src="images/down.png" ng-class="event.show ? 'rotate180' : 'rotate0'" style="height: 15px; position:relative; top:5px; left:300px" />
        </div>
    </div>



</div>

</body>
</html>
